<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>221JavaWebTP01</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>loginPageServlet</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>cn.com.javaweb.demo.listener.MyRequestAttributeListener</listener-class>
  </listener>
  <listener>
    <listener-class>cn.com.javaweb.demo.listener.MySessionLifeListener</listener-class>
  </listener>
  <listener>
    <listener-class>cn.com.javaweb.demo.listener.MyRequestListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>HeaderServlet</display-name>
    <servlet-name>HeaderServlet</servlet-name>
    <servlet-class>cn.com.javaweb.demo.servlet.HeaderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HeaderServlet</servlet-name>
    <url-pattern>/headerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FooterServlet</display-name>
    <servlet-name>FooterServlet</servlet-name>
    <servlet-class>cn.com.javaweb.demo.servlet.FooterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FooterServlet</servlet-name>
    <url-pattern>/footerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginPageServlet</display-name>
    <servlet-name>LoginPageServlet</servlet-name>
    <servlet-class>cn.com.javaweb.demo.servlet.LoginPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginPageServlet</servlet-name>
    <url-pattern>/loginPageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WelcomeServlet</display-name>
    <servlet-name>WelcomeServlet</servlet-name>
    <servlet-class>cn.com.javaweb.demo.servlet.WelcomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WelcomeServlet</servlet-name>
    <url-pattern>/welcomeServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cn.com.javaweb.demo.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WriteCookieServlet</display-name>
    <servlet-name>WriteCookieServlet</servlet-name>
    <servlet-class>cn.com.javaweb.demo.servlet.WriteCookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WriteCookieServlet</servlet-name>
    <url-pattern>/writeCookieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadCookieServlet</display-name>
    <servlet-name>ReadCookieServlet</servlet-name>
    <servlet-class>cn.com.javaweb.demo.servlet.ReadCookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadCookieServlet</servlet-name>
    <url-pattern>/readCookieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDetailServlet</display-name>
    <servlet-name>UserDetailServlet</servlet-name>
    <servlet-class>cn.com.javaweb.demo.servlet.UserDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDetailServlet</servlet-name>
    <url-pattern>/userDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditPageServlet</display-name>
    <servlet-name>EditPageServlet</servlet-name>
    <servlet-class>cn.com.javaweb.demo.servlet.EditPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditPageServlet</servlet-name>
    <url-pattern>/editPageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditServlet</display-name>
    <servlet-name>EditServlet</servlet-name>
    <servlet-class>cn.com.javaweb.demo.servlet.EditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditServlet</servlet-name>
    <url-pattern>/editServlet</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>20</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>cn.com.javaweb.demo.servlet.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/uploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistServlet</display-name>
    <servlet-name>RegistServlet</servlet-name>
    <servlet-class>cn.com.javaweb.demo.servlet.RegistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistServlet</servlet-name>
    <url-pattern>/registServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistPageServlet</display-name>
    <servlet-name>RegistPageServlet</servlet-name>
    <servlet-class>cn.com.javaweb.demo.servlet.RegistPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistPageServlet</servlet-name>
    <url-pattern>/registPageServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>cn.com.javaweb.demo.filter.EncodingFilter</filter-class>
  </filter>
  <filter>
    <display-name>LoginControllerFilter</display-name>
    <filter-name>LoginControllerFilter</filter-name>
    <filter-class>cn.com.javaweb.demo.filter.LoginControllerFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginControllerFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteServlet</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>cn.com.javaweb.demo.servlet.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/deleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DynamicImageServlet</display-name>
    <servlet-name>DynamicImageServlet</servlet-name>
    <servlet-class>cn.com.javaweb.demo.servlet.DynamicImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DynamicImageServlet</servlet-name>
    <url-pattern>/dynamicImageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestRequestAttributeServlet</display-name>
    <servlet-name>TestRequestAttributeServlet</servlet-name>
    <servlet-class>cn.com.javaweb.demo.servlet.TestRequestAttributeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestRequestAttributeServlet</servlet-name>
    <url-pattern>/testRequestAttributeServlet</url-pattern>
  </servlet-mapping>
</web-app>